{% macro event_create_form() %}
<div id="event-create-form">
<h2>+ Add an event</h2>
<form id="eventCreateForm" action="/events" method="POST">
    <fieldset>
        <label for="title"> Name your event
        </label><textarea name="title" rows=3 cols=45
            placeholder="Use an awesome title so people will come!"
        ></textarea><br />
        <label for="description"> Describe your event
        </label><textarea name="description" rows=3 cols=45
            placeholder="Tell people a few more details about your event. What can they expect?"
        ></textarea><br />
    </fieldset>
    <fieldset>
        <label  for="attendees"> How many attendees are you expecting?
        </label><select name="attendees">
            <option value=0> 1-10 </option>
            <option value=1> 10-20 </option>
            <option value=2> 20-50 </option>
            <option selected
                    value=3> 50-100 </option>
            <option value=4> 100-200 </option>
            <option value=5> 200-500 </option>
            <option value=5> 500+ </option>
        </select><br />
        <label for="location"> Event location </label>
        <input name="location" type="text" id="event-address"/><br />
        <label for="beginDate"> Event begins </label>
            <input name="beginDate" type="date" />
            <input name="beginTime" type="time" /><br />
        <label for="endDate"> Event ends </label>
            <input name="endDate" type="date" />
            <input name="endTime" type="time" /><br />
    </fieldset>



    <button type="submit" class="event-create-submit-button">+ Submit your event</button>
    <script>
    $( "form#eventCreateForm" ).on( "submit", function( event ) {
      event.preventDefault();

      console.log( $(this).serializeArray() );

      $.post($(this).attr('action'), $(this).serialize(), function(data) {

        console.log(data);

//        $('.result').html(data);
       });

    });
    </script>




</form>
</div>
{% endmacro %}




















