<div id="event-create">
<h2>+ Add an event</h2>
<form>
    <fieldset>
        <label for="event[title]"> Name your event
        </label><textarea name="event[title]" rows=3 cols=45
            placeholder="Use an awesome title so people will come!"
        ></textarea><br />
        <label for="event[description]"> Describe your event
        </label><textarea name="event[description]" rows=3 cols=45
            placeholder="Tell people a few more details about your event. What can they expect?"
        ></textarea><br />
    </fieldset>
    <fieldset>
        <label  for="event[attendees]"> How many attendees are you expecting?
        </label><select name="event[attendees]">
            <option value=0> 1-10 </option>
            <option value=1> 10-20 </option>
            <option value=2> 20-50 </option>
            <option selected
                    value=3> 50-100 </option>
            <option value=4> 100-200 </option>
            <option value=5> 200-500 </option>
            <option value=5> 500+ </option>
        </select><br />
        <label for="event[location]"> Event location </label>
        <input name="event[location]" type="text" /><br />
        <label for="event[begins]">   Event begins </label>
        <input name="event[begins]" type="datetime-local" /><br />
        <label for="event[ends]">     Event ends </label>
        <input name="event[begins]" type="datetime-local" /><br />
    </fieldset>
</form>
</div>
