{% extends "app/views/layout.html" %}
{% block title %}{{ event.title }}{% endblock %}
{% block body %}
<div id="details-pane">
    <div class="gallery-sidebar">
        <div id="event-picture">
            <img src="{{ event.picture }}" />
        </div>
        <div id="event-registration">
            <a id="registerLink" href="{{ event.registerLink }}">Sign up for the event <span class="icon-chevron-right"></span></a>
            <p>This link will take you to an external event registration service, such as Eventbrite.</p>
        </div>
    </div>
    <span><div id="event-description">
        <h1>{{ event.title }}</h1>
        <div id="event-whenwhere">
            <div class="temporal-local">
                <img class="calendar-icon" src="/img/map/calendar.png" />
                <div class="datetime-range">
                    <div> September 30 - October 31 </div>
                    <div> 11:00am - 5:00pm          </div>
                </div>
            </div>
            <div class="temporal-local">
                <img class="pin-icon" src="/img/map/pin-event-red.png" />
                <div class="address">
                    <div> Runnymede library </div>
                    <div> Toronto, ON       </div>
                </div>
            </div>
        </div>
        <div id="event-organizer">
            <img src="http://lorempixel.com/25/25/people/" />
            <span>Organized by <strong class="organizer">cassiemc</strong></span>
        </div>
        <p>{{ event.description }}</p>
    </div></span>
    <div id="bottom-stripe">
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
