{% extends "app/views/layout.html" %}
{% block title %}Event Map{% endblock %}

{% block body %}

<div class="overlay-container">
<div class="map-overlay">

    <form id="find-event" action="/events" method="GET">
        <h2><span class="icon-search"></span> Find an event</h2>
        <input name="find-where" type="text" placeholder="Where?" />
        <input name="find-when"  type="text" placeholder="When?" />
        <button type="submit"><span class="icon-chevron-right"></span></button>
    </form>


    <div id="add-event-button">
      <h2 class='formExpandButton'><span class="icon-plus"></span> Add an event</h2>
    </div>

    <form id="create-event" action="/events" method="POST" enctype="multipart/form-data" class='toggleHidden'>
        <h2 class='formExpandButton'><span class="icon-plus"></span> Add an event</h2>
        <fieldset>
            <label for="event[title]"> Name your event </label>
            <textarea name="event[title]" rows=3 cols=40
                placeholder="Use an awesome title so people will come!"></textarea><br />

            <label for="event[description]"> Describe your event </label>
            <textarea name="event[description]" rows=10 cols=40
                placeholder="Tell people a few more details about your event. What can they expect?"></textarea><br />
        </fieldset>
        <fieldset>
            <label for="event[attendees]"> How many attendees are you expecting? </label>
            <select name="event[attendees]">
                <option value=0> 1-10 </option>
                <option value=1> 10-20 </option>
                <option value=2> 20-50 </option>
                <option selected
                        value=3> 50-100 </option>
                <option value=4> 100-200 </option>
                <option value=5> 200-500 </option>
                <option value=5> 500+ </option>
            </select><br />

            <label for="event[address]"> Event location </label>
            <input name="event[address]" type="text" style='width: 257px;'/><br />

            <label for="event[beginDate]"> Event begins </label>
            <div class='datetime'>
                <input name="event[beginDate]" type="date" />
                <input name="event[beginTime]" type="time" />
            </div><br />

            <label for="event[endDate]"> Event ends </label>
            <div class='datetime'>
                <input name="event[endDate]" type="date" />
                <input name="event[endTime]" type="time" />
            </div><br />

            <div class="upload">
                <input name="event[logo]" type="file" accept="image/*" />
                <div id="image-upload">Upload an image</div>
            </div>

            <button type="submit"><span class="icon-plus"></span> Submit your event</button>
        </fieldset>

        <script>
            var file_input = $('input[type="file"]');
            var upload_div = $('#image-upload');
            upload_div.on("click", function(ev) {
                file_input.click();
                ev.preventDefault();
            }).on("dragenter dragover drop", function(ev) {
                ev.stopPropagation();
                ev.preventDefault();
            }).on("drop", function(ev) {
                handleImg(ev.dataTransfer.files[0]);
            });
            file_input.on("change", function (ev) {
                handleImg(this.files[0]);
            });

            // based on MDN example
            function handleImg(file) {
                if (file.type.match(/image.*/)) {
                    upload_div.html("<img />");
                    var img = upload_div.find("img")[0];
                    img.file = file;

                    var reader = new FileReader();
                    reader.onload = (function(img) {
                        return function(ev) {
                            img.src = ev.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                }
            }

            $("form#create-event").on("submit", function(ev) {
                $.post(this.attr('action'), this.serialize(), function(data) {
                    console.log(data); // TODO: pin event on map
                    // API: pin-event, clear-pins, popup-event
                    //      <zoom-to-address>, <map-bounds-autocomplete>
                });
                ev.preventDefault();
            });
        </script>
    </form>
    </div>
</div>
</div>
  
<div id="map-canvas"></div>

{% endblock %}

{% block scripts %}
{% endblock %}
