{% extends "app/views/layout.html" %}
{% block title %}Event Map{% endblock %}

{% block body %}

<div class="overlay-container">
<div class="map-overlay">

    <form id="find-event" action="/events" method="GET">
        <h2><span class="icon-search"></span> Find an event</h2>
        <input name="find-where" type="text" placeholder="Where?" />
        <input name="find-when"  type="date" placeholder="When?" />
        <input name="_csrf" type="hidden" value="{{ csrf_token }}" />
        <button type="submit"><span class="icon-chevron-right"></span></button>
    </form>


    <div id="add-event-button">
      <h2 class='formExpandButton'><span class="icon-plus"></span> Add an event</h2>
    </div>

    <form id="create-event" action="/events" method="POST" class='toggleHidden'>
        <h2 class='formExpandButton'><span class="icon-plus"></span> Add an event</h2>
        <fieldset>
            <label for="title"> Name your event </label>
            <textarea name="title" rows=3 cols=40
                placeholder="Use an awesome title so people will come!"></textarea><br />

            <label for="description"> Describe your event </label>
            <textarea name="description" rows=10 cols=40
                placeholder="Tell people a few more details about your event. What can they expect?"></textarea><br />
        </fieldset>
        <fieldset>
            <label for="attendees"> How many attendees are you expecting? </label>
            <select name="attendees">
                <option value=0> 1-10 </option>
                <option value=1> 10-20 </option>
                <option value=2> 20-50 </option>
                <option selected
                        value=3> 50-100 </option>
                <option value=4> 100-200 </option>
                <option value=5> 200-500 </option>
                <option value=5> 500+ </option>
            </select><br />

            <label for="address"> Event location </label>
            <input name="address" type="text" /><br />

            <label for="beginDate"> Event begins </label>
            <div class='datetime'>
                <input name="beginDate" type="date" />
                <input name="beginTime" type="time" />
            </div><br />

            <label for="endDate"> Event ends </label>
            <div class='datetime'>
                <input name="endDate" type="date" />
                <input name="endTime" type="time" />
            </div><br />

            <div class="upload">
                <input type="file" accept="image/*" />
                <input name="picture" type="hidden" />
                <div id="image-upload">Upload an image</div>
            </div>
            <input name="_csrf" type="hidden" value="{{ csrf_token }}" />

            <button type="submit"><span class="icon-plus"></span> Submit your event</button>
        </fieldset>

        <script>
            var file_input = $('input[type="file"]');
            var upload_div = $('#image-upload');
            upload_div.on("click", function(ev) {
                file_input.click();
                ev.preventDefault();
            }).on("dragenter dragover drop", function(ev) {
                ev.stopPropagation();
                ev.preventDefault();
            }).on("drop", function(ev) {
                handleImg(ev.dataTransfer.files[0]);
            });
            file_input.on("change", function (ev) {
                handleImg(this.files[0]);
            });

            // based on MDN example
            function handleImg(file) {
                if (file.type.match(/image.*/)) {
                    upload_div.html("<img />");
                    var img = upload_div.find("img")[0];
                    img.file = file;

                    var reader = new FileReader();
                    reader.onload = (function(img) {
                        return function(ev) {
                            img.src = ev.target.result;
                            $('.upload input[name="picture"]')[0].value = img.src;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                }
            }

            $("form#create-event").on("submit", function(ev) {
                var form_fields = this.serializeArray();
                form_fields.map(function (f) {
                    console.log(f);
                });
               // $.post(this.attr('action'), this.serialize(), function(data) {
               //     console.log(data); // TODO: pin event on map
               //     // API: pin-event, clear-pins, popup-event
               // });
                ev.preventDefault();
            });
            // setup form toggle button
            $("h2.formExpandButton").click(function(e) {
                e.preventDefault();

                $("form#create-event").toggleClass('toggleHidden');
                $("#add-event-button").toggleClass('toggleHidden');
            });
        </script>
    </form>
    </div>
</div>
</div>
  
<div id="map-canvas"></div>

{% endblock %}

{% block scripts %}
{% endblock %}
