body#events {
    header {
        margin-bottom: 0px;
    }
    #content {
        max-width:  1020px;
        width:      100%;
        padding:    0px;
    }
    .make-footer {
        margin-top: 0px;
    }
}
