body#events.details {
    background: #23B881;

    #details-pane {
        background: white;
        width:      100%;
        height:     100%;
        border-radius:  4px;
        margin:     30px auto;

        #event-logo {
            background: #DFD951;
            height:     600px;
            width:      380px;
            float:      left;

            margin:     11px;
            margin-right: 20px;
            margin-bottom: 30px;

            vertical-align: top;

            img {
            }
        }
        #event-description {
            background: white;
            border-radius:  4px;
            padding: 10px 20px;

            > h1 {
                font-weight: 300;
                font-size:   35px;
            }
            > p {
                color:      #777;
                font-size:  15px;
                line-height: 25px;
            }
            #event-organizer {
                height: 60px;

                a { color:  #888; }
                img {
                    height: 40px;
                    width:  40px;
                    border-radius: 40px;
                }
                span {
                    font-size: 14px;
                    vertical-align: 80%;
                    padding-left: 5px;

                    b { }
                }
            }
        }
        #event-registration {
            width:      400px;
            padding-bottom: 40px;

            button {
                display:    block;
                background: #4F74BB;
                border-radius: 7px;
                border:     1px solid #ccc;
                margin:     20px auto;
                padding:    15px 20px;

                color:      #eee;
                font-size:  20px;
            }
            p {
                width:      320px;
                margin:     0px auto;

                color: #888;
                text-align: center;
            }
        }
        #bottom-stripe {
            background: #FEA300;
            width:      100%;
            height:     6px;

            border-radius: 0px 0px 4px 4px;
        }
    }
}
