body#events.map {

  #content {
    max-width:  none;
    width:      100%;
    padding:    0px;
  }

  #map-canvas {
    height: 800px;
    width: 100%;
    z-index: 0;
  }

  #map-content {
    position: relative;
    width: 100%;
    height: 800px;
  }

  #delete-button {
    position: absolute;
    bottom: 3px;
    right: 12px;
  }

  #log-button {
    position: absolute;
    bottom: 3px;
    right: 142px;
  }
}

// form toggle button

h2.formExpandButton {
  .disable-selection;
}

.toggleHidden {
  display: none;
}

#add-event-button {
  background: #e1000b;
  &:hover  { background: #ee1c25; }
  &:active { background: #d7000a; }
  color: #fff;

  width:      190px;
  margin-top: 10px;

  h2 {
      .icon-plus {
          font-size: 18px;
          margin-right: 4px;
      }

      font-family:    OpenSans;

      margin-top:     1px;
      margin-left:    4px;
      padding:        10px 12px;
      padding-bottom: 12px;

      font-size:      20px;
      font-weight:    300;
  }
}